$neutral-white-text: hsl(0, 0%, 100%);
$cyan : hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$intro-sign-up-background: hsl(217, 28%, 15%);
$main-background: hsl(218, 28%, 13%);
$footer-background: hsl(216, 53%, 9%);
$feedback-background: hsl(219, 30%, 18%);