* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, #e2c76e, #f89955);
    color: white;
    font-family: sans-serif;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    border-style: none;
    min-height: 30px;
    min-width: 200px;
    padding: 0.5rem;
    border-radius: rem;
}

.submit-todo-btn {
    font-size: 22px;
    min-width: 33px;
    min-height: 33px;
    text-align: center;
}

button {
    align-items: center;
    background-color: #f89955;
    color: white;
    border-style: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

button:hover {
    background-color: white;
    color: #f89955;
}


/* style the container to hold the added todos */

.todo-list {
    min-width: 30%;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-div {
    margin: 2vh;
    display: flex;
    justify-content: space-between;
    border-spacing: 0.5rem;
    background-color: white;
    transition: all 0.3s ease;
}

.todo-div li {
    flex: 1;
    list-style: none;
    color: black;
    min-height: 30px;
    padding: 0.5rem;
}

.delete-btn {
    background-color: #da6716;
}

.delete-btn:hover {
    color: #da6716;
    background-color: white;
}

.complete-btn {
    color: white;
    background-color: rgb(25, 185, 25);
}

.complete-btn:hover {
    color: rgb(25, 185, 25);
    background-color: white;
}

.todo-div-btn {
    min-width: 10%;
}

.fa-check,
.fa-trash {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.scale-up {
    transform: scale(1.3);
}

.fall {
    transform: scaleY(1.3) scaleX(0);
    opacity: 0;
}