.under-construction-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .construction-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 85%;
    height: 40vw;
    margin-bottom: 10%;
    text-align: center;
    border-radius: 2% / 5%;
    box-shadow: inset 0px 0px 0px 2000px rgba(255, 255, 255, 0.932);
    filter: blur(10px);
    
    .construction-header {
      margin: 10%;
      color: $info-light-color;
    }

    svg {
      border-radius: 2% / 10% ;
    }
  }
  
}