$font: Helvetica, open-sans, sans-serif;


$primary-color:#e7e9f0;
$secondary-color:#5D8AFF;
$success-color: #77C015;
$success-hover-color: #95E01D;
$info-color: #01247A;
$info-light-color: #44B8FC;
$extra-color: #EFAD07;
$warning-color: #DB8833;
$warning-hover-color: #FFAC47;
$danger-color: #DB2832;
$danger-hover-color: #FF3E38;
$secondary-text-color: #43454b;
$primary-text-color: #030711;
$success-text-color: #9FDB69;
$success-text-hover-color:#E7F9CD;
$info-text-color: #92EBF3;
$info-text-hover-color: #C7F8F9;
$warning-text-color: #F4D393;
$warning-text-hover-color: #F9EBC8;
$danger-text-color: #F5B6A2;
$danger-text-hover-color: #FADDCF;
